<launch>
    <node pkg="me212bot" type="me212bot_node.py" name="me212bot_node"/>
    <node pkg="me212bot" type="apriltag_detect.py" name="apriltag_detecct"/>
    <include file="$(find freenect_launch)/launch/freenect.launch"/>
    <include file="$(find me212bot)/launch/frames.launch"/>
    <include file="$(find me212bot)/launch/viz.launch"/>
    <include file="$(find apriltags)/launch/apriltags.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
</launch>